openapi: 3.1.0
info:
  title: NeuraForge UI Public API
  version: 1.0.0
  description: |
    Unauthenticated public API for the NeuraForge UI Registry.
    All endpoints are read-only, cacheable, and require no authentication.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: NeuraForge
    url: https://neuraforge.dev

servers:
  - url: https://api.neuraforge.dev/v1
    description: Production
  - url: http://localhost:3000/v1
    description: Self-hosted

paths:
  /components:
    get:
      operationId: listComponents
      summary: List published components
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [navigation, layout, forms, feedback, data-display, marketing]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Component list
          content:
            application/json:
              schema:
                type: object
                properties:
                  components:
                    type: array
                    items:
                      $ref: "#/components/schemas/ComponentSummary"
                  total:
                    type: integer
                  nextCursor:
                    type: string

  /components/{stableId}/{version}:
    get:
      operationId: getComponent
      summary: Get component by exact version
      parameters:
        - name: stableId
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Full component data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentDetail"
        "404":
          description: Component not found

  /tokens:
    get:
      operationId: getDesignTokens
      summary: Get design token set
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [tailwind, css-variables, json]
            default: json
      responses:
        "200":
          description: Token set

  /health:
    get:
      operationId: healthCheck
      summary: Service health
      responses:
        "200":
          description: Healthy

components:
  schemas:
    ComponentSummary:
      type: object
      properties:
        stableId:
          type: string
        version:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        checksum:
          type: string

    ComponentDetail:
      type: object
      properties:
        stableId:
          type: string
        version:
          type: string
        status:
          type: string
          enum: [experimental, stable]
        source:
          type: string
        props:
          type: array
          items:
            type: object
        dependencies:
          type: array
          items:
            type: object
        installation:
          type: array
          items:
            type: object
        checksum:
          type: object
          properties:
            algorithm:
              type: string
            digest:
              type: string
